@use '../../../styles/colors.scss' as *;

.closeBtn {
    display: flex;
    align-self: flex-start;
    position: relative;
    width: 3rem;
    height: 3rem;
    opacity: 0.3;
    border: none; 
    outline: none;
    background: transparent;
    cursor: pointer;

    &:hover {
     opacity: 1;
    }
    &:before, &:after {
        position: absolute;
        left: 1.5rem;
        content: ' ';
        height: 3rem;
        width: 0.2rem;
        background-color: $c-grey;
    }
    &:before {
        transform: rotate(45deg);
      }
    &:after {
        transform: rotate(-45deg);
    }
  }