$c-blue-300: #6482AD;
$c-blue-200: #7FA1C3;
$c-blue-100: #c5d9e7;
$c-cream-300: #E2DAD6;
$c-cream-100: #F5EDED;
$c-white: #FFFFFF;
$c-black: #000000;
$c-black-opacity-40: #00000040;
$c-grey: #a7a7a7;
$c-check: #fc3;



//pokemon types colors
$c-type-normal: #aa9;
$c-type-fire: #f42;
$c-type-water: #39f;
$c-type-electric: #fc3;
$c-type-grass: #7c5;
$c-type-ice: #6cf;
$c-type-fighting: #b54;
$c-type-poison: #a59;
$c-type-ground: #db5;
$c-type-flying: #89f;
$c-type-psychic: #f59;
$c-type-bug: #ab2;
$c-type-rock: #ba6;;
$c-type-ghost: #66b;
$c-type-dragon: #76e;
$c-type-dark: #754;
$c-type-steel: #aab;
$c-type-fairy: #e9e;
